<h2> You will be asked 5 questions ! There is no time limit, don't worry.</h2>
<h3> You have attempted this quiz <%= @attempts %> times before.</h3>
<button><%= link_to "Get to the first question", "#{@id}/1" %></button>
